<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div th:replace="base :: navlinksfg"></div>
<form th:action="@{/processBook}" method="post" th:object="${book}">
    <input type="hidden" th:field="*{id}"/>

    </br>
    Book Title:</br>
    <input type="text" th:field="*{title}"/>
    </br>
    Author:</br>
    <input type="text" th:field="*{author}"/> </br>
    Quantity: </br>
    <input type="text" th:field="*{quantity}"/> </br>
    In Stock:
     <label class="radio-inline">
    <input type="radio" th:field="*{instock}"  value=false/>Not </label>
    <label class="radio-inline">
        <input type="radio" th:field="*{instock}"  value=true/>In Stock</label>
    <br><br>

    <div th:each="book : ${books}">
        <div th:if="${book.image} != null">
            <img th:src="${book.image}" /><hr>
        </div>

    </div>
    Choose a category:

    <select th:field="*{category.id}">
        <option th:each="category : ${categories}"
                th:value="${category.id}"
                th:text="${category.title}"></option>
    </select>

    <br/>
    <input type="submit" value="Update/New Book">
</form>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>